{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'details.css' %}" />
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}" />

<title>Baby Brady Ninja - Cast Your Vote!</title>

<div class="gender-title"><h1>Cast Your Vote!</h1></div>

<form class="vote-form" action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <div class="gender-container">
        {% for choice in question.choice_set.all %}
            <div class="{{ choice.choice_text }}-container">
                <div class="{{ choice.choice_text }}-helper">Select {{ choice.choice_text | capfirst }}!</div>
                <input class="{{ choice.choice_text }}-input" type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
                <label class="{{ choice.choice_text }}-label" for="choice{{ forloop.counter }}"></label>
            </div>
        {% endfor %}
    </div>
    {% if error_message %}
        <div class="error-message">{{ error_message }}</div>
    {% endif %}
    <input class="vote-button" type="submit" value="Submit Vote">
</form>
