* {
    box-sizing: border-box;
}

html, p, body, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: dimgray;
}

.gender-title {
    height: 10%;
    width: 100%;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gender-container {
    display: flex;
}

@keyframes fade-in-helper-text {
    0% {
        transform: translateY(-400%);
    }
    50% {
        transform: translateY(80%);
    }
    100% {
        transform: translateY(0);
    }
}

.boy-helper, .girl-helper {
    font-size: 2em;
    color: whitesmoke;
    position: absolute;
    top: 11%;

    animation: fade-in-helper-text 3s;
    z-index: 10;
}

.boy-container, .girl-container {
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boy-container {
    background: skyblue;
}

.girl-container {
    background: lightpink;
}

.boy-input, .girl-input {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
    float: left;
}


.boy-label, .girl-label {
    display: block;
    width: 50%;
    height: 80%;
    position: absolute;
    text-align: center;
}

.boy-input:checked + .boy-label {
    background-color: #7ebbde;
}

.girl-input:checked + .girl-label {
    background-color: #E6A4AE;
}

.boy-svg, .girl-svg {
    width: 45%;
    height: 45%;
    margin-top: 15%;
}


.boy-label {
    background: url(boy.svg) no-repeat center;
    background-size: 20%;
    /*background-color: green;*/
}

.girl-label {
    background: url(girl.svg) no-repeat center;
    background-size: 20%;
    /*background-color: yellow;*/
}

.vote-button {
    position: absolute;
    height: 10%;
    width: 100%;
    background: #7a7a7a;
    color: whitesmoke;
    font-size: 2em;
    cursor: pointer;
    box-shadow: 0 0 0 3px dimgray;

    /*resets*/
    border: 0;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}

.vote-button:hover {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background-color: dimgray;
    box-shadow: 0 0 0 3px #505050;
}