* {
    box-sizing: border-box;
}

html, p, body, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: dimgray;
}

.top-half {
    background-color: skyblue;
}

.top-half, .bottom-half {
    height: 49vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-half {
    background-color: lightpink;
}

@keyframes fade-in-out {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes fade-out-in {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.boy, .girl {
    font-size: 2em;
    color: #f5f5f5;
}

.boy {
    padding-bottom: 75px;
    animation: fade-in-out 3s infinite;
}

.girl {
    padding-top: 75px;
    animation: fade-out-in 3s infinite;
}

.separator {
    height: 2vh;
    width: 100vw;
    background-color: dimgrey;
}

.center-page {
    position: absolute;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
}

.greeting-section {
    color: whitesmoke;
    background-color: dimgray;
    z-index: 1;
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
    text-decoration: none;
}

.greeting:before {
    content: "";
    top: 50vh;
    left: -75vw;
    width: 150vw;
    height: 1000px;
    z-index: -1;
}

.greeting-title {
    position: relative;
    z-index: 200;
    padding: 15px;
    width: 280px;
    text-align: center;
}

.greeting-title, .greeting-title:before {
    background-color: #696969;
}

.greeting-title:before {
    content: "";
    border-radius: 50%;
    width: 250px;
    height: 150px;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading {
    text-align: center;
    font-size: 1.5em;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.click-me {
    font-size: 1.5em;
    position: absolute;
    left: 28%;
    padding-top: 8px;
    animation: fade-in 10s;
}