* {
    box-sizing: border-box;
}

html, p, body, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: #e6e6e6;
}

.title {
    height: 10%;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dimgrey;
}

.graphs-container {
    display: flex;
}

.boy-graph-container, .girl-graph-container {
    height: 90%;
    width: 50%;
    z-index: 50;
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}

.girl-graph-container {
    margin-right: 20px;
}

.votes {
    padding: 5px;
    float: left;
    color: whitesmoke;
    background-color: dimgrey;
}

.boy-graph, .girl-graph {
    bottom: 0;
    width: 100%;
    z-index: 100;
    align-self: flex-end;
}

.boy-graph {
    background: repeating-linear-gradient(
    45deg,
    #5b80b2,
    #5b80b2 15px,
    #7cbdd8 15px,
    #7cbdd8 30px
  );
}

.girl-graph {
    left: 50%;
    background: repeating-linear-gradient(
    45deg,
    #C6858E,
    #C6858E 15px,
    #F1ACB7 15px,
    #F1ACB7 30px
  );
}

.boy-zero-votes, .girl-zero-votes {
    position: absolute;
    color: whitesmoke;
    background-color: dimgrey;
    z-index: 150;
    bottom: 0;
    padding: 5px;
}

.girl-zero-votes {
    left: 50%;
}