* {
    box-sizing: border-box;
}

html, p, body, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: dimgray;
}

.title {
    height: 10%;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.graphs-container {
    display: flex;
}

.boy-graph-container, .girl-graph-container {
    height: 90%;
    width: 50%;
    z-index: 50;
    display: flex;
}

.boy-graph-container {
    background-color: skyblue;
}

.girl-graph-container {
    background-color: lightpink;
}

.votes {
    padding-top: 5px;
    padding-right: 5px;
    float: right;
    color: whitesmoke;
}

.boy-graph, .girl-graph {
    /*position: absolute;*/
    bottom: 0;
    /*width:50%;*/
    width: 100%;
    z-index: 100;
    align-self: flex-end;
}

.boy-graph {
    background-color: #5b80b2;
}

.girl-graph {
    left: 50%;
    background-color: #E6A4AE;
}

.boy-zero-votes, .girl-zero-votes {
    position: absolute;
    color: whitesmoke;
    z-index: 150;
    bottom: 0;
    width: 50%;
    text-align: right;
    padding-bottom: 5px;
    padding-right: 5px;
}

.girl-zero-votes {
    left: 50%;
}