<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}" />

    <title>Baby Brady Ninja</title>
</head>
<body>
    <div class="container">
        <div class="top-half">
            <div class="boy">Is it a boy?</div>
        </div>
        <div class="separator"></div>
        <a href="/polls/1" class="greeting-section center-page">
            <div class="greeting">
                <div class="greeting-title">
                    <div class="heading">Baby Stephenson</div>
                    <div>Coming July 2017</div>
                    <div class="click-me">Click Here!</div>
                </div>
            </div>
        </a>
        <div class="bottom-half">
            <div class="girl">Is it a girl?</div>
        </div>
    </div>
</body>
</html>